@charset "UTF-8";
/*header*/
.header{
	width: 100%;
	height : auto;
	border : 0px solid #000000;
	box-sizing: border-box;
	padding:20px;
	box-sizing:border-box;
	display:flex;
	flex-direction: row; /*행(가로)방향으로 요소 배치, 생략*/
	/*justify-content: flex-start;*/
	/*justify-content: flex-end;*/	
	justify-content: center;
	background-color: #239cdc;
	
}
.header .nav{
/* 	width:100%;
	max-width: 1200px;
	height : auto;  */
	width : 1200px;
	margin :0 auto;
	border:0px solid #000000;
	box-sizing: border-box;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
}
.header .nav h1.logo{
	width: 100px;
	height : 80px;
	border: 0px solid;
	box-sizing: border-box;
	background-color: #000000;
	line-height: 80px;
	text-align: center;
}
.header .nav h1.logo a{
	color:#ffffff;
}
.header .nav .gnb{
	width: 500px;
	height : auto;
	border: 0px solid;
	box-sizing: border-box;
}
.header .nav .gnb>ul{
	display:flex;
	/* background-color: #ffff00; */
	/* justify-content: center; */
	/* justify-content: flex-start; */
	/* justify-content: flex-end; */
	justify-content: space-between;
	/* justify-content: space-around; */
	/* justify-content: space-evenly; */
	align-items: center;

}
.header .nav .gnb>ul>li{
	width: 20%; 
	height: auto;
	line-height:80px;
	text-align:center;
	border : 0px solid;
	box-sizing: border-box;
	/* background-color: #00ff00; */
}
.header .nav .gnb>ul>li a{
	
}
/* a에 마우스를 올렸을 때 밑줄 */
.header .nav .gnb>ul>li a:hover{
	text-decoration: underline;
}

















